mat-form-field {
    width: 80% ;
     padding-left:15%;
     /* padding-right: ; */
}

* {
    box-sizing: border-box;
  }

  @media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .right {
      width: 87%;

    }

    .mat-dialog-container {
      margin-left: 20%;
    }

    /* .col-md-6{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */


  }