
<app-sidenav></app-sidenav>    

    <div class="text-center"> 
      <form [formGroup]="ObjSampleForm">
        <div class="card-box">         
                    <div class="row">
                      <div class="table-responsive"><br>
                        <h2 style="text-align:center ;">Borrow Details</h2>


<div><input type="button" (click)="clearFilter()" value="CLEAR FILTER" style = "position:absolute; left:1200px; top:100px;"> </div>

<div>
START DATE &nbsp;&nbsp; <input type="date" formControlName="date1" value="date1" max="{{date| date:'yyyy/MM/dd' }}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
END DATE&nbsp;&nbsp; <input type="date" formControlName="date2" value="date2" max="{{date| date:'yyyy/MM/dd' }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" (click)="getFilter()" value="FILTER">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<BR>
<!-- *ngIf="flag==0" -->
                            <table *ngIf="flag==0"  align="center" class="table-bordered" id="datatable" role="grid" >
                             
                              <thead class="bg-primary text-white">
                                  <tr role="row">
                                   
                                    <th (click)="sortfn('user.firstName')">User Name
                                      <button mat-icon-button *ngIf="this.direction==1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_upward</i></button>
                                      <button mat-icon-button *ngIf="this.direction==-1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_downward</i></button>
                                    </th>
                                    <th (click)="sortfn('books.booksName')">Book Name
                                      <button mat-icon-button *ngIf="this.direction==1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_upward</i></button>
                                      <button mat-icon-button *ngIf="this.direction==-1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_downward</i></button>
                                    </th>
                                    <th (click)="sortfn('issueDate')">Issue Date 
                                      <button mat-icon-button *ngIf="this.direction==1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_upward</i></button>
                                      <button mat-icon-button *ngIf="this.direction==-1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_downward</i></button>
                                    </th>                                  
                                              
                                    <th (click)="sortfn('dueDate')">Due Date 
                                      <button mat-icon-button *ngIf="this.direction==1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_upward</i></button>
                                      <button mat-icon-button *ngIf="this.direction==-1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_downward</i></button>
                                    </th>
                            
                                      <th (click)="sortfn('fine')">Fine(INR) 
                                        <button mat-icon-button *ngIf="this.direction==1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_upward</i></button>
                                        <button mat-icon-button *ngIf="this.direction==-1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_downward</i></button>
                                      </th>
                                      <th (click)="sortfn('status')">Status 
                                        <button mat-icon-button *ngIf="this.direction==1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_upward</i></button>
                                        <button mat-icon-button *ngIf="this.direction==-1"> <i class="material-icons" style="color:rgb(255, 255, 255)" >arrow_downward</i></button>
                                      </th>
                                      <th>Action</th>
                                    </tr>
                              </thead>
          <tbody>
       
        <tr *ngFor="let post of  data
        | paginate
         :{
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        };
        let i = index
        " >
        <td scope="row">{{ post.user.firstName }}</td>

          <!-- <td>{{post.user.firstName}}</td> -->
          <td>{{post.books.booksName}}</td>
          <td>{{post.issueDate| date:'dd/MM/yyyy'}}</td>                 
          <!-- <td>{{post.returnDate| date:'dd/MM/yyyy'}}</td> -->
          <td>{{post.dueDate| date:'dd/MM/yyyy'}}</td>
          <!-- <td>{{post.dueDays}}</td> -->
          <td>{{post.fine}}</td>
          
          <!-- <td>{{post.bookReturnedDate| date:'dd/MM/yyyy'}}</td> -->
          <td>{{post.status}}</td>
          <!-- <td>{{post.reason}}</td> -->

  <td>
  <button type ="button"  class="btnn0" *ngIf="post.status!='APPROVED' && post.status!='RETURNED'"  (click)="acceptRequest(post)">Accept</button>
  <button type ="button" class="btnn2" *ngIf="post.status=='REQUESTED' "  (click)="rejectRequest(post)">Reject</button>&nbsp;&nbsp;
  <button type ="button" class="btnn" *ngIf="post.status!='RETURNED' && post.status=='APPROVED' " (click)="bookReturn(post)" >Return</button>&nbsp;&nbsp;
  <button type ="button" class="btnn1" *ngIf="post.status=='RETURNED'  "  (click)="undo(post)" >Undo</button>&nbsp;&nbsp;
  <!-- <button type ="button" class="btnn1" *ngIf="post.status!='REQUESTED'  "  (click)="DetailView(post)" >View More</button><br><br> -->
  <button mat-icon-button>
    <i class="material-icons" *ngIf="post.status!='REQUESTED'  "  style="color:rgb(14, 155, 216)" (click)="DetailView(post)">visibility</i>  &nbsp;
  </button>
</td>
      </tr>
        
                              </tbody>
                          </table>

                          <table *ngIf="flag==1"  align="center" class="table-bordered" id="datatable" role="grid" >
                            <!-- matSort (matSortChange)="sortData($event)" -->
                            <thead class="bg-primary text-white">
                                <tr role="row">
                                 
                                  <!-- <th mat-sort-header="user_id">User Name</th> -->
                                  <th (click)="sortfilter('user_id')">User Name</th>
                                  <th (click)="sortfilter('books_id')">Book Name</th>
                                  <th (click)="sortfilter('issue_date')">Issue Date</th>                                  
                                  <!-- <th (click)="sortfilter('return_date')">Return Date</th>                              -->
                                  <th (click)="sortfilter('due_date')">Due Date</th>
                                  <!-- <th (click)="sortfilter('due_days')">DueDays</th>                                   -->
                                  <th (click)="sortfilter('fine')">Fine(INR)</th>
                                  <!-- <th (click)="sortfilter('book_returned_date')">Returned Date</th> -->
                                  <th (click)="sortfilter('status')">Status</th>
                                  <!-- <th (click)="sortfilter('reason')">Reason</th> -->
                                  <th>Action</th>
                                  </tr>
                            </thead>
        <tbody>
     
      <tr *ngFor="let post of  data
      | paginate
       :{
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      };
      let i = index
      " >
      <td scope="row">{{ post.user.firstName }}</td>

        <!-- <td>{{post.user.firstName}}</td> -->
        <td>{{post.books.booksName}}</td>
        <td>{{post.issueDate| date:'dd/MM/yyyy'}}</td>                 
        <!-- <td>{{post.returnDate| date:'dd/MM/yyyy'}}</td> -->
        <td>{{post.dueDate| date:'dd/MM/yyyy'}}</td>
        <!-- <td>{{post.dueDays}}</td> -->
        <td>{{post.fine}}</td>
        
        <!-- <td>{{post.bookReturnedDate| date:'dd/MM/yyyy'}}</td> -->
        <td>{{post.status}}</td>
        <!-- <td>{{post.reason}}</td> -->

<td>
<button type ="button" style = "margin-top: 20px;" class="btnn0" *ngIf="post.status!='APPROVED' && post.status!='RETURNED'"  (click)="acceptRequest(post)">Accept</button>&nbsp;&nbsp;
<button type ="button" class="btnn2" *ngIf="post.status=='REQUESTED' "  (click)="rejectRequest(post)">Reject</button>&nbsp;&nbsp;<br>
<button type ="button" class="btnn" *ngIf="post.status!='RETURNED' && post.status=='APPROVED' " (click)="bookReturn(post)" >Return</button>
<button type ="button" class="btnn1" *ngIf="post.status=='RETURNED'  "  (click)="undo(post)" >Undo</button><br><br>
<button mat-icon-button>
  <i class="material-icons" *ngIf="post.status!='REQUESTED'  "  style="color:rgb(14, 155, 216)" (click)="DetailView(post)">visibility</i>  
</button>

</td>

    </tr>
      
                            </tbody>
                        </table>


                          <!-- Pagenation Controler -->
                          <div class="d-flex justify-content-center">
                            <pagination-controls (pageChange)="onTableDataChange(page=$event)">
                            </pagination-controls>
                        
                      </div>
                  </div>
                </div>