
  table{
    width: auto;
    border: none;
    text-align: left;
    
  }
  /* tr{
    border: none;
  } */
  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: left;
    /* text-align: center; */
    border: none;
   
  }
  td {
    border: none;
    padding-top: 16px;padding-bottom: 6px;
    text-align: left;
    /* text-align: center; */
  }

  td text{
    padding-top: 30%;
  }