<router-outlet></router-outlet>
<p>
    <br><input type="button" style = "position:absolute; left:1200px; top:20px;" class="btnhome" name="HomE" value="HomE" (click)="home()"><br><br>
</p>    

  
  <div class="text-center"> 
      <form [formGroup]="ObjSampleForm" (ngSubmit)="onSubmit()">
              
              <div style="width: 120px; margin:0 auto;" class="example-container" >
                  <label><h1><u>AcceptRequest</u></h1></label>
               <table align="center">

                 
                <!--9526909544 <div>Issue Date<input  type="date" class="text-danger1" placeholder="issueDate" formControlName="issueDate" name="issueDate"  required></div><br>
 -->
                <div>Due Date<input  type="date" class="text-danger1" placeholder="returnDate" formControlName="returnDate" name="returnDate" min="{{this.date}}" (input)="datas()" required></div><br>

                <div>Return Date<input  type="date" class="text-danger1" placeholder="dueDate" formControlName="dueDate" name="dueDate" min="{{val}}"  required></div><br>

                                               
                  
                  <input class="btn" type="submit" name="onSubmit" value="Submit"><br><br><br>
                
                </table> 
          </div>       
          </form>         
          </div>
          

