<p > <br>
    <input type="button" style = "position:absolute; left:1200px; top:20px;" class="btnhome" name="LogIn" value="LogIn" (click)="Login()">
    <br><br>
     </p>



<router-outlet></router-outlet>

<div class="text-center"> 
    <form [formGroup]="ObjSampleForm" (ngSubmit)="onSubmit()">
            
            <div style="width: 160px; margin:0 auto;" class="example-container" ><br>
               <div style="width: 50px; margin:0 auto;"> <label ><h1><u>SignUp</u></h1></label></div>
                <br>                
                            
                <div>
                <input  type="text" class="text-danger1" placeholder="First Name" formControlName="firstName" name="firstName" maxlength="20" required>    
                </div> <br><br>

                <div>
                    <input  type="text" class="text-danger1" placeholder="Last Name" formControlName="lastName" name="lastName" maxlength="20" required>    
                    </div> <br><br>

                <div>
                    <input  type="date" class="text-danger1" placeholder="DOB" formControlName="dob" name="dob"  required>    
                    </div> <br><br>
                <div>
                    <input  type="text" class="text-danger1" placeholder="Address" formControlName="address" name="address" maxlength="20" required>    
                     </div> <br><br>
                <div>
                    <input  type="text" class="text-danger1" placeholder="phone" formControlName="phone" name="phone" maxlength="20" required>    
                    </div> <br><br>
                <!-- <div>
                    <input  type="number" class="text-danger1" placeholder="role" formControlName="role" name="role" maxlength="20" required>    
                    </div> <br><br> -->
            <div>
                <input type="text" class="text-danger1" placeholder="password" formControlName="password" name="password" pattern='(?=.*\d)(?=.*[a-z])(?=.*[#$@!%&*?])(?=.*[A-Z]).{8,}' minlength="8" required>              
                    <br><br>                
            </div>
            <div>
            <input  type="text" class="text-danger1" placeholder="email" formControlName="email" name="email" pattern='[a-zA-z0-9]+' maxlength="20" required>
                  
            </div> <br><br>            
            

            
            <input class="btn" type="submit" name="onSubmit" value="Submit"><br><br><br><br>
            <br>    
            <br><br>
            <br>
            <br>
            <br>    
            <br><br>
            <br>    
            <br>
            </div>
            <br>    
            <br><br>
            <br>    
            <br>
    </form>     
    
    </div>
    
