
<router-outlet></router-outlet>
<p>
    <br><input type="button" style = "position:absolute; left:1200px; top:20px;" class="btnhome" name="HomE" value="HomE" (click)="home()"><br><br>
</p> 
    <div class="text-center"> 
      <form>
        <div class="card-box">         
                    <div class="row">
                      <div class="table-responsive">
                        <h1 style="text-align:center ;"><u>Borrow Details</u></h1>


                            <table align="center" class="table-bordered" id="datatable" role="grid" >
                             
                              <thead class="bg-primary text-white">
                                  <tr role="row">
                                   
                                    <th>User Name</th>
                                    <th>Book Name</th>
                                    <th>Issue Date</th>                                  
                                    <th>Return Date</th>                             
                                    <th>Due Date</th>
                                    <th>Returned Date</th>
                                    <th>Status</th>
                                    <th>Reason</th>
                                    <th>Action</th>
                                    </tr>
                              </thead>
                              <tbody>
        <tr *ngFor="let borrow of  borrowdata">

            <td>{{borrow.user.firstName}}</td>
            <td>{{borrow.books.booksName}}</td>
            <td>{{borrow.issueDate| date:'dd/MM/yyyy'}}</td>                 
            <td>{{borrow.returnDate| date:'dd/MM/yyyy'}}</td>
            <td>{{borrow.dueDate| date:'dd/MM/yyyy'}}</td>
            <td>{{borrow.bookReturnedDate| date:'dd/MM/yyyy'}}</td>
            <td>{{borrow.status}}</td>
            <td>{{borrow.reason}}</td>
 
    <td>
     <button type ="button" *ngIf="borrow.status!='APPROVED' && borrow.status!='RETURNED'" class="btnAction" (click)="acceptRequest(borrow)">Accept</button>&nbsp;&nbsp;
    <button type ="button" *ngIf="borrow.status!='REJECTED' && borrow.status!='RETURNED'" class="btnAction" (click)="rejectRequest(borrow)">Reject</button>
    <button type ="button" *ngIf="borrow.status!='RETURNED' && borrow.status=='APPROVED' " class="btnAction" (click)="bookReturn(borrow)">Return</button><br>
    <button type ="button" *ngIf="borrow.status=='RETURNED'  " class="btnAction" (click)="undo(borrow)">Undo</button><br>
  </td>
        </tr>
        
                              </tbody>
                          </table>
                        
                      </div>
                  </div>
                </div>