.split {
  height: 100%;
  /* width: 50%; */
  position: fixed;
  /* z-index: 1; */
  top: 5%;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 18%;
   z-index: 1;
  background-color: #111;
}

.right {
  right: 0;
  width: 80%;
  background-color: rgb(255, 255, 255);
}

.centered {
  position: relative;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}



 table{
    width:70%;
    border: none;
    text-align: center;
    
  }
  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
   
  }
  td {
 
    padding-top: 16px;padding-bottom: 16px;
  } 
