.split {
  height: 100%;
  /* width: 50%; */
  position: fixed;
  /* z-index: 1; */
  top: 5%;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 18%;
   z-index: 1;
  background-color: #111;
}

.right {
  right: 0;
  width: 89%;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 16%;
  top:10%;
}

.centered {
  position: relative;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}



 table{
    width:70%;
    border: none;
    text-align: left;
    border: none;
    
  }
  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: left;
    /* border: none; */
   
  }
  td {
    border: none;
    text-align: left;
    padding-top: 16px;padding-bottom: 16px;
  } 
  .no-touch .scrollable.hover {
    overflow-y:hidden;
    }
    
    .no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
    }
    