/* 
.table-bordered{
    border: 1px solid;
}

  */ 
  table{
    width: 80%;
    border: none;
    text-align: center;
    
  }
  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
   
  }
  td {
 
    padding-top: 6px;padding-bottom: 6px;
  }