<app-sidenav></app-sidenav>

<br><br>
<div style="text-align: center;">
      <button  mat-raised-button (click)="openDialog()" color="primary"  >ADD BOOKS</button></div>
<br><br>



<div class="card-box">
          
        
      <div class="row">
                <div class="table-responsive">
                    
                      <table align="center" class="table-bordered" id="datatable" role="grid" >
                        <thead class="bg-primary text-white">
                            <tr role="row">
                             
                              <th>Category-Name</th>
                              <th>Publication</th>
                              <th>Book Name</th>
                              <th>Auther</th>
                              <th>Book Copies</th>
                              <th>Book image</th>

                              <th>Action</th>
                              </tr>
                        </thead>
                        <tbody>
  <tr *ngFor="let books of  booksdata">

  <td>{{books.category.categoryName}}</td>
  <td>{{books.publication}}</td>
  <td>{{books.booksName}}</td>
  <td>{{books.auther}}</td>
  <td>{{books.booksCopies}}</td>
  <td align="right"><img src="../../assets/BooksImage/item_pics/{{books.image}}" width="90" height="110"  ></td>


<td>

<button mat-icon-button>
  <i class="material-icons" style="color:red" (click)="delete(books)">delete</i>

</button>
<button mat-icon-button>
  <i class="material-icons" style="color:green" (click)="edit(books.booksId)">edit</i>

</button>

<!-- <button type ="button" class="btnList" (click)="delete(books)">delete</button>&nbsp;&nbsp; -->
<!-- <button type ="button" class="btnList" (click)="edit(books)">edit</button></td> -->
  </tr>
  
                        </tbody>
                    </table>
                  
                </div>
            </div>
          </div>