<p style="padding: 30px;">select_your_option => &nbsp;

    <input type="button" class="btnItem" name="BooksbyCategory" value="CATEGORY" (click)="onClickBooksbyCategory()" style = "position:absolute; left:580px; top:35px;"> 
   
    <input type="button" class="btnItem" name="Books" value="BOOKS" (click)="onClickBooks()" style = "position:absolute; left:700px; top:35px;"> 
       
    <input type="button" class="btnItem" name="BorrowHistory" value="HISTORY" (click)="onClickHistory()" style = "position:absolute; left:800px; top:35px;"> 

    <input type="button" class="btnItem" name="notification" value="NOTIFICATION" (click)="onClickNotification()" style = "position:absolute; left:900px; top:35px;"> 

    <input type="button" class="btnItem" name="viewProfile" value="PROFILE" (click)="onClickProfile()" style = "position:absolute; left:1050px; top:35px;"> 

    <input type="button" class="btnItem1" style="float:right" name="LOGOUT" value="logout" (click)="logout()">
    </p>
    <h1>
    
        <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br><br>
        
    </h1>