

mat-dialog-content{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
mat-dialog-actions{
    text-align: center;
}
/* dialog-form{
    width: 25%;
} */
/* 
mat-form-field{
    text-align: center;
    width: 100%;
} */