
* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  /* right: 80%; */
  width: 50%;
  padding: 0 20px;
  margin-left: 30%;
  text-align: center;
}
.tb{
  margin-left: 30%;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .main {
    width: 100%;
    margin-left: 5%;
  }
  .tb{
    margin-left: 15%;
  }
  .th{
    border: none;
  }
}













.table-bordered{
border: none;
}

  td {
    color: rgb(0, 0, 0);
    width: auto;
     padding: 8px;
     text-align: left;
  }

  input[type=text],input[type=date] {
text-align: center;
  }