<router-outlet></router-outlet>
<p>
  <br><input type="button" style = "position:absolute; left:1200px; top:10px;" class="btnhome" name="HomE" value="HomE" (click)="home()"><br>
</p>    

  
  <div class="text-center"> 
      <form>

        <div class="card-box">
          
        
            <div class="row">
                      <div class="table-responsive"><br>
                        <h3 style="text-align:center ;">USER DETAILS</h3>


                            <table align="center" class="table-bordered" id="datatable" role="grid" >
                             
                              <thead class="bg-primary text-white">
                                  <tr role="row">
                                   
                                    <th>User Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <!-- <th>Password</th> -->
                                    <th>Status</th>
                                    <!-- <th>role</th> -->
                                    <th>DOB</th>
                                    <th>CreateDate</th>
                                    <th>UpdateDate</th>
                                    </tr>
                              </thead>
                              <tbody>
        <tr *ngFor="let user of  userdata">
    
        <td>{{user.userId}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.address}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <!-- <td>{{user.password}}</td> -->
        <td>{{user.status}}</td>
        <!-- <td>{{user.role}}</td> -->
        <td>{{user.dob}}</td>
        <td>{{user.createDate| date:'dd/MM/yyyy'}}</td>
        <td>{{user.updateDate| date:'dd/MM/yyyy'}}</td>
 
    <!-- <td>
     <button type ="button" class="btnAction" (click)="delete(books)">delete</button>&nbsp;&nbsp;
    <button type ="button" class="btnAction" (click)="edit(books)">edit</button></td>
        </tr> -->
        
                              </tbody>
                          </table>
                        
                      </div>
                  </div>
                </div>