
/* 
.table-bordered{
    border: 1px solid;
}
th {
    background-color: #232524;
    color: white;
    width: 8%;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  td {
    background-color: #a7bdb08f;
    color: rgb(0, 0, 0);
    width: 8%;
    text-align: center;
    margin-top: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding: auto;
  } */


  .split {
    height: 100%;
    /* width: 50%; */
    position: fixed;
    /* z-index: 1; */
    top: 5%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    width: 18%;
     z-index: 1;
    background-color: #111;
  }
  
  .right {
    right: 0;
    width: 80%;
    background-color: rgb(255, 255, 255);
  }
  
  .centered {
    position: relative;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  





  table{
    width: 90%;
    border: none;
    text-align: center;
 
    
    
  }
  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
   
  }
  td {
 
    padding-top: 6px;padding-bottom: 6px;
  } 