
  .split {
    height: 100%;
    /* width: 50%; */
    position: fixed;
    /* z-index: 1; */
    top: 5%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    width: 18%;
     z-index: 1;
    background-color: #111;
  }
  
  .right {
    right: 0;
    width: 80%;
    background-color: rgb(255, 255, 255);
    /* overflow-x: hidden; */
  }
  
  .centered {
    position: relative;
    top: 4%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

  }
  .table-responsive{
    overflow-x: hidden;
  }






  table{
    width: 90%;
    border: none;
    text-align: left;
 
    
    
  }
  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: left;
   
  }
  td {
    text-align: left;
    padding-top: 6px;padding-bottom: 6px;
  } 