
.text-danger1{

    /* width: 160%; */
    padding: 8px 6px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px ; 
    background-color: #a7bdb08f;
    color: rgb(0, 0, 0);
     border-radius: 7px;
  
}





  td {

    width: 50%;
    height: 50%;
    text-align: left;
    margin-top: auto;
    padding: 5%;
    padding-left: 4%;
  }



table{
    text-align: left;
    /* margin-left: 40%;*/
    margin-top:5%; 
}
