
<router-outlet></router-outlet>
<p>
    <br><input type="button" style = "position:absolute; left:1200px; top:20px;" class="btnhome" name="HomE" value="HomE" (click)="home()"><br><br>
</p>    

  
  <div class="text-center"> 
      <form [formGroup]="ObjSampleForm">
        <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
  padding: 20px;
  background-color: #58f842a8;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
</head>
<body>

<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Note!</strong> You can select Book by category
</div>

</body>
</html>

        <!-- <h1 style="text-align: center;"><u>Find Books by Category</u></h1> -->
              <br><br><br>
              <div style="position:absolute; left:520px; top:180px;" class="example-container" >
                 <!-- <label><h1><u>Find Books by Category</u></h1></label> -->
               <table >
                <br>
               <label for="categoryId">Select Category </label>
               <select [(ngModel)]="selectedGroup" class="dropbtn" type="input" formControlName="categoryId"  name="select" placeholder="Select Category" (ngModelChange)="disp()">             
                  <option  *ngFor="let category of catdata" value={{category.categoryId}} >
                {{category.categoryName}}
               </option>
               </select>
               <!-- <button type ="button" class="btnList" (click)="disp(categoryId)">Find</button>&nbsp;&nbsp; -->

            </table> 
        </div>       
        </form>         
        </div>
        <div class="text-center"> 
          <form>
            <div class="card-box">         
                        <!-- <div class="row">
                          <div class="table-responsive"> -->
                            <!-- <h1 style="text-align:center ;"><u>Books Details</u></h1> -->
    
    
                                <table style="margin-top: 100px" align="center" class="table-bordered" id="datatable" role="grid" >
                                 
                                  <thead class="bg-primary text-white">
                                      <tr role="row">
                                       
                                        <th>Book Name</th>
                                        <th>Category-Name</th>
                                        <th>Publication</th>                                  
                                        <th>Auther</th>
                                        <th>Book Copies</th>
                                        <th>Book Cover</th>
                                        <th>Action</th>
    
                                        </tr>
                                  </thead>
                                  <tbody>
            <tr *ngFor="let books of  booksdata">
    
                <td>{{books.booksName}}</td>
                <td>{{books.category.categoryName}}</td>
                <td>{{books.publication}}</td>                 
                <td>{{books.auther}}</td>
                <td>{{books.booksCopies}}</td>
                <td align="right"><img src="../../assets/BooksImage/item_pics/{{books.image}}" width="75" height="100"></td>
     
        <td>
         <!-- <button type ="button" class="btnAction" (click)="delete(books)">delete</button>&nbsp;&nbsp; -->
        <button type ="button" class="btnAction" (click)="requestBook(books)">Request Book</button>
      </td>
            </tr>
            
                                  </tbody>
                              </table>
                            
                          </div>
                      <!-- </div>
                    </div>         -->