<router-outlet></router-outlet>
<p>
    <br><input type="button" style = "position:absolute; left:1200px; top:10px;" class="btnhome" name="HomE" value="HomE" (click)="home()"><br>
</p>    

  
  <div class="text-center"> 
      <form [formGroup]="ObjSampleForm" (ngSubmit)="onSubmit()">
              <br>
              <div style="width: 200px; margin:0 auto;" class="example-container" >
                  <label><h1>ADD BOOKS</h1></label>
               <table align="center">
<br>
               <label for="categoryId">Select Category </label>
               <select class="dropbtn" type="input" formControlName="categoryId"  name="select" placeholder="Select Category" (click)="disp()" >
               <option  *ngFor="let category of catdata" value={{category.categoryId}}>
                {{category.categoryName}}
               </option>
               </select>
               <span class="text-danger"   class="text-danger" *ngIf="ObjSampleForm.controls['categoryId'].touched && ObjSampleForm.hasError('required','categoryId')"><small>Category Name is required</small>
               </span>
               <br><br>
                  
                <div><input  type="text" class="text-danger1" placeholder="publication" formControlName="publication" name="publication" maxlength="20" required></div>
                <span class="text-danger"   class="text-danger" *ngIf="ObjSampleForm.controls['publication'].touched && ObjSampleForm.hasError('required','publication')"><small>Publication is required</small>
                </span><br>

                <div><input  type="text" class="text-danger1" placeholder="booksName" formControlName="booksName" name="booksName" maxlength="20" required></div>
                <span class="text-danger"   class="text-danger" *ngIf="ObjSampleForm.controls['booksName'].touched && ObjSampleForm.hasError('required','booksName')"><small>Books Name is required</small>
               </span><br>

                <div><input  type="text" class="text-danger1" placeholder="author" formControlName="auther" name="auther" maxlength="20" required></div>
                <span class="text-danger"   class="text-danger" *ngIf="ObjSampleForm.controls['auther'].touched && ObjSampleForm.hasError('required','auther')"><small>Author Name is required</small>
               </span><br>

                <div><input  type="text" class="text-danger1" placeholder="booksCopies" formControlName="booksCopies" name="booksCopies" maxlength="20" required></div><br>
              <span class="text-danger"   class="text-danger" *ngIf="ObjSampleForm.controls['booksCopies'].touched && ObjSampleForm.hasError('required','booksCopies')"><small>booksCopies is required</small>
               </span>

                                  <!-- upload image
                                  <div class="card-container">
                                    <img src="" alt="" style="border-radius: 50%;" id="profilePic" height="100px" width="100px">
                                    <br>
                                    <br>
                                    <!-- <mat-icon style="size-adjust: 2px ;" matTooltip="Change book picture" type="button" (click)="fileInput.click()">
                                       <input type="file" name="files[]" multiple id="jsonFile" #fileInput
                                          (change)="onFileChange($event)" style="display: none;" />
                                       edit
                                    </mat-icon> 

                  <!-- upload image ends -->
                                    <!-- </div>  --> 

                  <input class="btn" type="submit" name="onSubmit" value="Submit" [disabled]="!ObjSampleForm.valid"><br><br><br>
                
                </table> 
          </div>       
          </form>         
          </div>
          

          <div class="card-box">
          
        
            <div class="row">
                      <div class="table-responsive">
                          
                            <table align="center" class="table-bordered" id="datatable" role="grid" >
                              <thead class="bg-primary text-white">
                                  <tr role="row">
                                   
                                    <th>Category-Name</th>
                                    <th>Publication</th>
                                    <th>Book Name</th>
                                    <th>Auther</th>
                                    <th>Book Copies</th>
                                    <th>Book image</th>

                                    <th>Action</th>
                                    </tr>
                              </thead>
                              <tbody>
        <tr *ngFor="let books of  booksdata">
    
        <td>{{books.category.categoryName}}</td>
        <td>{{books.publication}}</td>
        <td>{{books.booksName}}</td>
        <td>{{books.auther}}</td>
        <td>{{books.booksCopies}}</td>
        <td align="right"><img src="../../assets/BooksImage/item_pics/{{books.image}}" width="90" height="110"  ></td>
  
 
    <td>
     
      <button mat-icon-button>
        <i class="material-icons" style="color:red" (click)="delete(books)">delete</i>
      
      </button>
      <button mat-icon-button>
        <i class="material-icons" style="color:green" (click)="edit(books)">edit</i>
      
      </button>
      
     <!-- <button type ="button" class="btnList" (click)="delete(books)">delete</button>&nbsp;&nbsp; -->
    <!-- <button type ="button" class="btnList" (click)="edit(books)">edit</button></td> -->
        </tr>
        
                              </tbody>
                          </table>
                        
                      </div>
                  </div>
                </div>