<p style="padding: 30px;">select_your_option => &nbsp;&nbsp;

    <input type="button" class="btnItem" name="BooksbyCategory" value="BooksbyCategory" (click)="onClickBooksbyCategory()" style = "position:absolute; left:680px; top:35px;"> 
   

    <!-- <input type="button" class="btnItem" name="Category" value="Category" (click)="onClickCategory()" style = "position:absolute; left:750px; top:35px;">
    <input type="button" class="btnItem" name="addContact" value="Books" (click)="onClickAddBooks()" style = "position:absolute; left:850px; top:35px;"> 
    <input type="button" class="btnItem" name="userDetails" value="userDetails" (click)="userDetails()" style = "position:absolute; left:930px; top:35px;"> 
     -->
    <input type="button" class="btnItem" name="Books" value="Books" (click)="onClickBooks()" style = "position:absolute; left:850px; top:35px;"> 
   
    
    <input type="button" class="btnItem" name="BorrowHistory" value="BorrowHistory" (click)="onClickHistory()" style = "position:absolute; left:930px; top:35px;"> 

    <input type="button" class="btnItem" name="notification" value="notification" (click)="onClickNotification()" style = "position:absolute; left:1065px; top:35px;"> 

    <input type="button" class="btnItem" name="viewProfile" value="viewProfile" (click)="onClickProfile()" style = "position:absolute; left:1170px; top:35px;"> 


    <input type="button" class="btnItem1" style="float:right" name="logout" value="logout" (click)="logout()">
    </p>
    <h1>
    
        <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br><br>
        
    </h1>