p{
    padding: 0px 0px 16px 1000px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    background-image: url('../../../a.png');
    
}
.btnItem{
    border: none;
    padding: 0;
    background: none;
    font-size: 18px;
    font-style: normal ;
    color: rgba(136, 253, 81, 0.73);
}



/* .T-button {
    border: none;
    padding: 0;
    background: none;
    font-size: 11px;
    font-style: italic;
    
  } */

.btnItem1{
    padding: 7;
    border-color: rgba(16, 17, 16, 0.468);
    background-color: rgba(83, 254, 3, 0.829);
    font-size: 13px;
    border-radius: 25px;
}
h1{
    padding: 0px;
    margin: 0px;
    background-image: url('../../../1.jpg');
}