<app-sidenav></app-sidenav>
<br><br>
<div style="text-align: center;">
      <button  mat-raised-button (click)="openDialog()" color="primary"  >ADD CATEGORY</button></div>
 
<br><br>

<div class="card-box">
  <div class="row">
    <div class="table-responsive">
      <table align="center" class="table-bordered" id="datatable" role="grid" style="position:relative;">
        <thead class="bg-primary text-white">
          <tr role="row">
            <th>Category Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of  categorydata">

            <td>{{category.categoryName}}</td>

            <td>
              <button mat-icon-button>
                <i class="material-icons" style="color:red" (click)="deleteCategory(category)">delete</i>
              </button>
              <!-- <i class="material-icons" (click)="deleteCategory(category)">delete</i> -->
            
            <!-- <button type="button" class="btnList" (click)="deleteCategory(category)">delete</button>&nbsp;&nbsp; -->
            <button mat-icon-button>
              <i class="material-icons" style="color:green" (click)="editCategory(category.categoryId)">edit</i>
            
            </button>
            <!-- <span class="material-icons"(click)="editCategory(category)">edit</span> -->
              <!-- <button type="button" class="btnList" (click)="editCategory(category)">edit</button> -->
     

            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>


