<p><br>
<input type="button" class="btnItem" name="Category" value="CATEGORY" (click)="onClickCategory()" style = "position:absolute; left:640px; top:35px;">
<input type="button" class="btnItem" name="addContact" value="BOOKS" (click)="onClickAddBooks()" style = "position:absolute; left:750px; top:35px;"> 
<input type="button" class="btnItem" name="userDetails" value="USER DETAILS" (click)="userDetails()" style = "position:absolute; left:830px; top:35px;"> 
<input type="button" class="btnItem" name="Borrow" value="BORROW" (click)="onClickBorrow()" style = "position:absolute; left:970px; top:35px;"> 
<input type="button" class="btnItem" name="viewProfile" value="VIEW PROFILE" (click)="onClickProfile()" style = "position:absolute; left:1075px; top:35px;"> 

<input type="button" class="btnItem1" style="float:right" name="logout" value="logout" (click)="logout()" style = "position:absolute; left:1210px; top:35px;"><br>
<br></p>


<h1>
    
    <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br><br>
    
</h1>



