<router-outlet></router-outlet>


<style>
       input[type="text"] {
        text-align: center;
        color: rgb(47, 225, 47);
      }
</style>

<div class="text-center"> 
    <form [formGroup]="ObjSampleForm" (ngSubmit)="onSubmit()">
            <br>
            <div class="example-container" ><br><br>
                <label class="name" style="text-align: center"><h1><u>LogIn</u></h1></label>
                <br>    
                <br><br>
             
    
            <div>
            <input  type="text" style = "position:absolute; left:552px; top:160px;" class="text-danger1" placeholder="username" formControlName="email" name="email" pattern='[a-zA-z0-9]+' maxlength="20" required>
<!--            
             <div class="text-danger" *ngIf="ObjSampleForm.controls['username'].touched && ObjSampleForm.hasError('required','username')"><i>Username is required</i></div><br> 
             <div class="text-danger" *ngIf="ObjSampleForm.controls['username'].touched && ObjSampleForm.hasError('pattern','username')"><i>Username Should be Valid</i> </div><br>
             <div class="text-danger" *ngIf="ObjSampleForm.controls['username'].touched && ObjSampleForm.hasError('maxlength(20)','username')"><i>Username Should be less than 20</i></div><br> -->
                 
            </div>   <br>
            <br> 
            
         
            <div>
                <input type="text" style = "position:absolute; left:552px; top:230px;" class="text-danger1" placeholder="password" formControlName="password" name="password" pattern='(?=.*\d)(?=.*[a-z])(?=.*[#$@!%&*?])(?=.*[A-Z]).{8,}' minlength="8" required>
                <!-- <div class="text-danger" *ngIf="ObjSampleForm.controls['password'].touched && ObjSampleForm.hasError('required','password')"><i>pswd is required</i></div>
                <div class="text-danger" *ngIf="ObjSampleForm.controls['password'].touched && ObjSampleForm.hasError('pattern','password')"><i>pswd Should be Valid</i></div>
                <div class="text-danger" *ngIf="ObjSampleForm.controls['password'].touched && ObjSampleForm.hasError('minlength(8)','password')"><i>psd Should be greater than 8</i></div> -->
                
                
                
                <br>
                <br>    
                <br>
                
            </div>
            
            <input class="btn" style = "position:absolute; left:572px; top:310px;" type="submit" name="onSubmit" value="Submit">&nbsp; &nbsp;
            <input type="button" style = "position:absolute; left:662px; top:310px;" class="btn" name="userReg" value="UserReg" (click)="onSignUp()">  <br>
            <br>    
            <br>
            <br>    
            <br><br>
            <br>    
            <br>
            </div>
            <br>    
            <br><br>
            <br>    
            <br>
    </form>     
    <br>    
    <br><br>
    <br>    
    <br>   <br>    
    <br><br>
    
    </div>
