
* {
  box-sizing: border-box;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .right {
    width: 87%;
    padding-bottom: 5%;

  }

  .chart h2{
    font-size: 10px;
  }

  .chart-container col-md-12{
    margin-top: 50%;
    margin-left: 8%;
  }
  .chart{
    margin-left: 0%;
    padding-bottom: 5%;
  }


}

 
 
 
 .chart{
    left: 18%; 
    padding-bottom: 5%;
 }


 .chart-container {
    position: relative;
    height: 70vh;
    width: 70vw;
  }
  